<a href="https://colab.research.google.com/github/JonathanKBP/Analise-de-jogadores-da-fifa-Data-Science/blob/main/Obtendo_os_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importando bibliotecas**

Na próxima célula está sendo importados as bibliotecas para extrair os dados do site so fifa.

In [22]:
# dataframes e manipulações
import pandas as pd
# requisitar dados do site
import requests

# inspecionar html
from bs4 import BeautifulSoup

# **Obter os dados dos jogadores**

In [23]:
url = 'https://sofifa.com/players?offset='

*   **Criar dataframe**

In [24]:
colunas = ['Nome', 'Idade', 'Posicao', 'Media', 'Potencial', 'Time', 'Salario', 'Total_Pontos']

In [25]:
dados = pd.DataFrame(columns=colunas)

In [26]:
dados.head()

Empty DataFrame
Columns: [Nome, Idade, Posicao, Media, Potencial, Time, Salario, Total_Pontos]
Index: []

In [27]:
for offset in range(0, 50):
  url = url + str(offset*61)
  p_html = requests.get(url)
  p_soup = p_html.text
  data = BeautifulSoup(p_soup, 'html.parser')
  table = data.find('tbody')
  for i in table.findAll('tr'):
    td = i.findAll('td')
    Nome = td[1].findAll('a')[0].text
    Idade = td[2].text
    Posicao = td[1].findAll('a')[1].text
    Media = td[3].find('span').text
    Potencial = td[4].find('span').text
    Time = td[5].find('a').text
    Salario =td[7].text.strip()
    Total_Pontos = td[8].text.strip()

    dados_jogadores = pd.DataFrame([[Nome, Idade, Posicao, Media, Potencial, Time, Salario, Total_Pontos]])

    dados_jogadores.columns = colunas

    dados = dados.append(dados_jogadores, ignore_index = True)

In [28]:
print(dados)

                 Nome Idade Posicao  ...             Time Salario Total_Pontos
0            V. Thill    20      RW  ...      CD Nacional     €2K         1551
1      S. Wamangituka    20      RM  ...    VfB Stuttgart    €13K         1847
2          14 A. Wolf    31      CB  ...        AS Monaco    €30K         1621
3       N. De la Cruz    23      CM  ...      River Plate    €17K         2180
4                Isco    28     CAM  ...      Real Madrid   €190K         2077
...               ...   ...     ...  ...              ...     ...          ...
2995        T. Souček    25     CDM  ...  West Ham United    €46K         2075
2996       Rúben Dias    23      CB  ...  Manchester City   €110K         1777
2997         P. Foden    20     CAM  ...  Manchester City    €95K         1997
2998     Nuno Tavares    20      LB  ...       SL Benfica     €7K         1900
2999         M. Kudus    19     CAM  ...             Ajax    €10K         2015

[3000 rows x 8 columns]

# **Exportar os nosso Dados**

In [29]:
dados.to_csv('sds_fifa.csv', encoding='utf-8', index=True)

In [30]:
dados.to_excel('sds_fifa.xlsx', index=True)